@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: "Bricolage Grotesque", sans-serif, ui-monospace, Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  --background: #09090b;
  --accent-color: #27272a;
  --text-color: white;
  --border-line-dark: #8d8b8b;
  --card-bg: #18181b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font);
}

body {
  color: var(--text-color);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
