.card,
.moviePageCard {
    background-color: var(--card-bg);
    border-radius: .2rem;
    display: grid;
    padding: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}


.title {
    font-size: 1.35rem;
    cursor: pointer;
}

.title:hover,
.title:active {
    color: rgb(40, 85, 247);
}

.poster {
    margin-top: .5rem;
    cursor: pointer;
}

.plot {
    padding: .5rem 0rem;
    font-weight: 500;
    font-size: 1.05rem;
    color: var(--text-color);
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .3rem;
}


.details li {
    font-size: .9rem;
}

.extra__details {
    display: grid;
    margin-top: .5rem;
    gap: .2rem
}



@media screen and (min-width:1024px) {
    .moviePageCard {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .moviePageCard .image_and_text {
        display: flex;
    }

    .moviePageCard .text {
        display: grid;
        margin-left: 1rem;
        width: 40vw;
    }

    .moviePageCard .text .extra__details {
        margin-top: 0;
    }

}